$contentWidth:1140px;
$contentTabletWidth:736px;
$contentPhoneWidth:360px;
$fontFamily: "Lato", sans-serif;
$mainPinkColor:#F16D7F;
$fontStyleBlack:900;
$fontStyleBold:700;
$fontStyleRegular:400;